body {
  background-color: #f5e1e1;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

#navbar-container {
  display: flex;
  align-items: center;
  padding-bottom: 50px;
}

nav {
  display: flex;
  justify-content: space-evenly;
  flex: 1;
}

.navbar-link {
  text-decoration: none;
  font-size: large;
  color: black;
  padding: 8px 16px;
  cursor: pointer;
}

.navbar-link:hover {
  background-color: #f3aeac;
  border-radius: 15px;
}

#navbar-container img {
  width: 60px;
  height: 70px;
  padding: 8px 16px;
}

.landing-img-container {
  display: flex;
  justify-content: space-evenly;
}

.landing-img {
  width: 200px;
  height: 200px;
}

.landing-polaroid {
  background-color: white;
  padding: 15px 15px 50px 15px;
  border-radius: 10px;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.5s;
}

.landing-polaroid span {
  padding-top: 20px;
  font-weight: bolder;
}

.landing-polaroid:hover {
  transform: scale(1.2);
}

.polaroid-title {
  font-size: 20px;
}

h1 {
  display: flex;
  margin: 0;
  margin-left: 20px;
  padding-bottom: 50px;
}

.recipe-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.recipe-card {
  display: flex;
  justify-content: center;
  background-color: white;
  border: 1px solid black;
  width: 300px;
  height: 300px;
  padding: 16px;
}
.recipe-title {
  display: flex;
  justify-content: center;
  background-color: #f3aeac;
  border: 1px solid black;
  padding: 8px 10px;
  width: 100%;
  height: fit-content;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
}

h3 {
  margin: 0;
}

.border {
  border: 3px solid black;
}
